<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css">

    <link rel='stylesheet' href='/css/style.css' />

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/satellizer/satellizer.min.js"></script>

    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/services.js"></script>

  </head>
  </head>
  <body ng-app='spApp' ng-controller='mainCtrl'>

    Auth: {{ isAuthenticated() }}
    <div class='container'>
    <a ui-sref='home'>Home</a>

    <!-- <span ng-hide="isAuthenticated()">
      <a if-not-user ui-sref='login'>Login</a>
      <a if-not-user ui-sref='register'>Register</a>
    </span>

    <span ng-show="isAuthenticated()">
      <a if-user ui-sref='profile'>Profile</a>
      <a if-user ng-click='logout()' sp-logout>Logout</a>
      <a if-not-user ui-sref='quotes'>My Quotes</a>
    </span> -->

    <div class="container">
    <div class="row">
      <button class="btn btn-sm btn-default" ui-sref='home'>Home</button>
      <span ng-hide='currentUser'>
        <button class="btn btn-sm btn-default" ui-sref='login'>Login</button>
        <button class="btn btn-sm btn-default" ui-sref='register'>Register</button>
      </span>
      <span ng-show='currentUser'>
        <button class="btn btn-sm btn-default" ui-sref='profile'>Profile</button>
        <button class="btn btn-sm btn-default" ng-click='logout()'>Logout</button>
        <span>Hello {{currentUser.username}}!</span>
      </span>
    </div>

    <ui-view></ui-view>

    </div>
  </body>
</html>
